 *, *::after, *::before{
	 box-sizing: border-box;
	 margin: 0;
	 padding: 0; 
	}

 :root{
	 font-size: 18px;
	 font-weight: 10;

	--subColor: #ff6d00;
 	--darkColor: #04030F;
 	--mainColor: #3c096c;
 }

 body{
	 font-family: 'Lora', serif;
	 color: black;
	 background-color: rgb(236, 235, 235);
	 height: max-content;
	 opacity: 1;

	 user-select: none;
 }
/* hamburger animation */
 .outerMenu{
	 position: fixed;
	 z-index: 10;
	 visibility: visible;
 }
.hamburger{
	position: fixed;
	right: 20px;
	top: 34px;

	background-color: white;
	height: 0.2rem;
	width: 1.5rem;

	border-radius: 10px;

	z-index: 1;

	transition: all 0.3s;
}
.hamburger::after,
.hamburger::before{
	content: "";
	position: absolute;

	background-color: white;
	height: 0.2rem;
	width: 1.5rem;

	border-radius: 10px;

	transition: all 0.3s;
}

.hamburger::after{
	transform: translateY(10px);
}

.hamburger::before{
	transform: translateY(-10px);
}

/* animation for hamburger */
.hamburgerOpen{
	transform: translateX(-50px);
	background-color: rgb(255, 255, 255, 0);
}

.hamburgerOpen::after{
	transform: rotate(45deg);
}

.hamburgerOpen::before{
	transform: rotate(-45deg);
}

/* innerMenu */
.innerMenu{
	display: flex;
	flex-direction: column;

	position: fixed;
	right: 0px;
	top: 0px;

	background-color: var(--mainColor); 
	height: 5.5rem;
	width: 5.5rem;

	border-radius: 1000px;

	transform: translate(25px, -25px);

	transition: all 0.4s;
}

.list{
	user-select: none;
	position: relative;
	top:8rem;
	left: 4rem;
	color: white;
	z-index: 4;
}

.list>ul{
	cursor: pointer;
	margin: 10px;
	padding: 3px;
	width: 8ch;
	text-align: center;
	background-color: rgb(255, 255, 255, 0.1);

	border-radius: 5px;
}

.list>ul:hover{
	background-color: rgb(255, 255, 255, 0.5);
}

a{
	text-decoration: none;
	color: white;
}
.innerMenuOpen{
	height: 20rem;
	width: 20rem;
	transform: translate(150px, -50px);
}


 /* other stuff */
 .spaceAround{
	 margin: 2rem;
 }

 a{
	 text-decoration: none;
 }

 a:active{
	 color: var(--darkColor);
 }
 .name{
	position: relative;
	left: 10px;
	color: var(--darkColor);
	font-weight: normal;
	line-height: 1rem;
 }

 .name::before{
	content: "";
	position: absolute;
	height: 1.1rem;
	width: 1.1rem;
	background-color: var(--mainColor);
	transform: translateX(-24px);

	border-radius: 40px;

 }

 .degree{
	 padding: 1.5;
	 display: block;
	 margin-top: 0;
	 color: rgb(0, 0, 0, 0.4);
	 font-weight: 0;
	 margin-bottom: 1rem;
 }

h4{
	margin-left: 0rem;
	margin-top: 1.4rem;
}

 h2{ position: relative;
	 margin-bottom: 1rem;
 }
 h2::after{
	 content: "";
	 position: absolute;
	 top: 100%;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 height: 4px;

	 background-color: var(--subColor);
 }

p{
	font-weight: lighter;
}


fieldset{
	display: block;
	margin: 2rem;
	margin-left:auto;
	margin-right: auto;
	padding: 1rem;
	width: max-content;
	height: 28rem;

	border: 1px solid black;
	border-radius: 1rem;

	box-shadow: 0 0 5px 1px var(--mainColor);
}

label{
	display: block;
	margin: 0.2rem;
}

input{
	padding: 1rem;
	margin: 0.1rem;
	margin-bottom: 1rem;
	height: 2rem;
	border-style: none;
	border-radius: 0.2em;
	outline: solid black 1px;
	transition: 0.1s;
}

textarea{
	padding: 0.1rem;
	padding-left: 1rem;
	width: 13rem;
	border-style: none;
	outline: solid black 1px;
	transition: 0.1s;	
}

input:focus, textarea:focus{
	border: none;
	outline: solid black 1px;
	border-radius: 0.2em;
	box-shadow: 0 0 5px 1px var(--subColor);
}

input:hover, textarea:hover{
	outline: solid black 2px;
}

button{
	color: black;
	background-color: white;
	font-size: 0.9rem;
	display: block;
	margin-top: 1rem;
	margin-left: auto;
	margin-right: auto;

	border: none;
	outline: 1.5px solid black;
	border-radius: 0.3em;
	box-shadow: 0 0 5px 1px var(--mainColor);
	padding: 0.3em;

	transition: 0.1s;
}

button:active{
	box-shadow: 0 0 5px 1px var(--subColor);
}



.footer{
	position: relative;
	margin-top: 4rem;
	margin-bottom: 5rem;
}

.footer::before{

	content: "";
	position: absolute;

	background-color: var(--subColor);

	top: 0;
	left: 0%;
	right: 0%;
	width: 100%;
	height: 2px;

	transform: translateY(-10px);
}

.mail{
	display: block;
	margin-bottom: 1rem;
}

.phone{
	cursor: auto;
	display: block;
}

 .fasColor{
	 color: var(--subColor);
 }